<header>
 <div style="height: 100%; width: 100%;">
<img src="/images/pa-logo.png" alt="Platform Architecture" style="height: 40px; width: 53px; vertical-align: middle;">
 <h1 style="vertical-align: middle;">{{ .Site.Title }}</h1>
 </div>
{{ with .Site.Params.version }}
 <span class="version">Version {{ . }}</span>
{{end}}
{{- with .Site.Params.github_repository -}}
<a href="{{ . }}" class="github"><i class="fab fa-github"></i></a>
{{- end -}}
{{ with .Site.Params.description }}
<p class="description">{{ . }}</p>
{{end}}
</header>
